.appointment-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // height: 400px;
  width: 90%;
  background-color: whitesmoke;
  z-index: 200;

  .modalX {
    margin-left: 94.5%;
    margin-top: 7px;
    font-size: 30px;
    cursor: pointer;
  }

  .appointment-container {
    font-family: $font-body;
    width: 80%;
    margin: auto;
    padding: 25px 0;
    border: none;

    .form-block {

      label {
        display: block;
        margin-top: 15px;
      }

      input {
        width: 100%;
      }

      textarea {
        height: 75px;
        width: 100%;
      }
    }
  }
}