.copyright-container {
  background-color: $bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;

  .copyright {
    color: $bg-light;
    font-family: $font-body;
    font-size: 18px;
  }
}