.review-container {
  text-align: center;
  background-color: $bg-comment;
  color: $font-light;
  padding: 60px;

  .review {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    .review-1 {
      font-family: $font-title;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  
    .review-2 {
      font-family: $font-body;
      font-size: 24px;
      padding: 20px 0;
    }
  
    .author {
      font-family: $font-title;
      font-size: 20px;
    }
  }
}