// FONTS
$font-title: 'Josefin Slab', serif;
$font-body: 'Open Sans Condensed', sans-serif;
$font-cursive: 'Sacramento', cursive;

// COLORS
$bg-dark: #7D9C97;
$bg-light: #EEEFE7;
$bg-grey: #F7F7F9;
$font-light: #fff;
$font-dark: #635F54;
$font-pink: #C4A3A6;
